# Common build/artifacts
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.buildlog/
.build/
.svn/
.swiftpm/
migrate_working_dir/

# Flutter-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
.packages
.packages.generated
build/
coverage/
**/doc/api/
**/generated_plugin_registrant.dart

# Android
.gradle/
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew*
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS / macOS
**/ios/**/Pods/
**/ios/**/DerivedData/
**/ios/**/xcuserdata
**/ios/Flutter/ephemeral/
**/ios/Flutter/*.framework
**/ios/Flutter/*.xcconfig
**/ios/Flutter/*.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/xcuserdata/

# Windows / Linux
**/windows/flutter/generated_*.*
**/linux/flutter/generated_*.*
**/*/flutter/generated_plugins.cmake

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code
#.vscode/

# Symbol / obfuscation
app.*.symbols
app.*.map.json
