*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.buildlog/
.build/
.svn/
.swiftpm/
migrate_working_dir/


.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
.packages
.packages.generated
build/
coverage/
**/doc/api/
**/generated_plugin_registrant.dart


.gradle/
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew*
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks


**/ios/**/Pods/
**/ios/**/DerivedData/
**/ios/**/xcuserdata/
**/ios/Flutter/ephemeral/
**/ios/Flutter/*.framework
**/ios/Flutter/*.xcconfig
**/ios/Flutter/*.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Gemfile
**/ios/Gemfile.lock

**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/**/xcuserdata/

**/windows/flutter/generated_*.*
**/linux/flutter/generated_*.*
**/*/flutter/generated_plugins.cmake


.idea/
*.iml
*.ipr
*.iws

.vscode/

app.*.symbols
app.*.map.json
